# Discord bot token
DISCORD_TOKEN=

# Channel IDs
ANDROID_RELEASE_CHANNEL=
LINUX_RELEASE_CHANNEL=
WINDOWS_RELEASE_CHANNEL=
MACOS_RELEASE_CHANNEL=
DESKTOP_STRINGS_CHANNEL=
MOBILE_STRINGS_CHANNEL=

# Role IDs
ANDROID_PING_ROLE=
LINUX_PING_ROLE=
WINDOWS_PING_ROLE=
MACOS_PING_ROLE=
DESKTOP_STRINGS_ROLE=
MOBILE_STRINGS_ROLE=
